#index {
  li {
    list-style: none;
  }
  .posts-list {
    @include left-container;
    flex-basis: 66%;
    align-self: flex-start;
    section {
      padding: 20px 25px;
      border-bottom: 1px solid $border-color;
      a {
        color: #404040;
        &:hover {
          color: $hover-color;
        }
        h3 {
          margin: 0 0 5px;
          font-size: 25px;
          font-weight: 700;
          transition: $transition;
        }
      }
      .post-img {
        margin-bottom: 5px;
        transition: $transition;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      .post-content {
        color: #a3a3a3;
        margin-bottom: 8px;
        * {
          margin: 0;
          padding: 0;
          text-align: justify;
        }
      }
      .post-meta {
        font-size: 14px;
        font-weight: 200;
        color: #6E7173;
        .seperator {
          padding: 0 2px;
        }
      }
    }
  }
  aside {
    position: sticky;
    top: 15px;
    flex-basis: 34%;
    > div {
      margin-left: 15px;
      box-sizing: border-box;
      background-color: #ffffff;
      margin-bottom: 15px;
      box-sizing: border-box;
      border-radius: 2px;
      h1 {
        color: #4a90e2;
        font-size: 1.1em;
        padding-left: 20px;
        margin: 0;
        height: 45px;
        line-height: 45px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(178,186,194,.15);
        font-weight: normal;
      }
      > .content {
        color: #909090;
        padding: 20px;
        font-size: 1em;
        a {
          color: #909090;
          transition: $transition;
          &:hover {
            color: $hover-color;
          }
        }
      }
    }
    .search {
      form {
        input {
          background: #fff 8px 9px no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAESSURBVHjajNCxS9VRGMbxz71E4OwgoXPQxVEpXCI47%2BZqGP0LCoJO7UVD3QZzb3SwcHB7F3Uw3Zpd%2FAPCcJKG7Dj4u%2FK7Pwp94HDg5Xyf5z1Pr9YKImKANTzFXxzjU2ae6qhXaxURr%2FAFl9hHDy%2FwEK8z89sYVEp5gh84wMvMvGiSJ%2FEV85jNzLMR1McqfmN5BEBmnmMJFSvtpH7jdJiZv7q7Z%2BZPfMdcF6rN%2FT%2F1m2LGBkd4HhFT3dcRMY2FpskxaLNpayciHrWAGeziD7b%2BVfkithuTk8bkGa4wgWFmbrSTZOYeBvjc%2BucQj%2FEe6xHx4Taq1nrnKaW8K6XUUsrHWuvNevdRRLzFGwzvDbXAB9cDAHvhedDruuxSAAAAAElFTkSuQmCC);
          padding: 7px 11px 7px 28px;
          border-radius: 2px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid rgba(178, 186, 194, .3);
          outline: none;
          font-size: 14px;
        }
      }
    }
    .avatar {
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 185px;
        object-fit: cover;
        object-position: center center;
      }
    }
    .categories {
      .category-list {
        padding-left: 0;
        margin: 0;
      }
      .category-list-child {
        padding-left: 1.3em;
        li {
          list-style: disc;
        }
      }
    }
    .links {
      a {
        display: block;
      }
    }
  }
}

.paging {
  @include basic;
  padding-top: 1em;
  .paging-container {
    display: flex;
    justify-content: space-between;
    width: 66%;
    &> div {
      display: inline-block;
      border-radius: 2px;
      font-size: 14px;
      transition: $transition;
      a {
        display: inline-block;
        padding: 5px 15px;
      }
      &:hover {
        border-color: #999;
      }
    }
    .page-prev {
      border: 1px solid #ddd;
    }
    .page-next {
      text-align: right;
      border: 1px solid #ddd;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  #index {
    width: 1000px;
  }
  .paging {
    width: 1000px;
  }
}

@media (max-width: $breakpoint-desktop) {
  .paging {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $breakpoint-phone) {
  #index {
    flex-direction: column;
    .posts-list {
      order: 1;
      width: 100%;
    }
    aside {
      position: static;
      order: 0;
      > div {
        margin-left: 0;
      }
    }
  }
  .paging {
    .paging-container {
      width: 100%;
    }
  }
}
