<!DOCTYPE html>
<html lang=<%= config['language'] %>>
  <%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <div class="post-img">
    <img src="<%= config.img %>" width="100%" height="380" alt="">
  </div>
  <%- body %>
  <%- partial('_partial/footer') %>
</body>
</html>
