<header>
  <div class="header-container">
    <a class='logo' href="<%- url_for() %>">
      <span>
        <% if (theme.favicon){ %>
          <link rel="icon" href="<%- config.favicon %>">
        <% } %>
      </span>
      <span><%- config.title %></span>
    </a>
    <ul class="right-header">
      <% for(name in theme.menu) { %>
        <li class="nav-item">
          <% if (url_for(theme.menu[name]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[name]) == '/' && is_home())) { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link active"><%- name %></a>
          <% } else { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="item-link"><%- name %></a>
          <% } %>
        </li>
      <% } %>
    </ul>
  </div>
  <div class="header-img">
    <img src="http://woowabros.github.io/img/bg-03.jpg" width="100%" height="380" alt="">
  </div>
</header>
